<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">

    <ion-card class="card" [color]="pokemon.types[0].type.name" *ngFor="let pokemon of listaPokemon">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
        <img
        class="ion-float-right" 
        [src]="'https://assets.pokemon.com/assets/cms2/img/pokedex/detail/'+pokemon.id.toString().padStart(3, '0')+'.png'">
             </ion-col>
             <ion-col>
        <ion-card-title>{{pokemon.name | titlecase}}</ion-card-title>
        <ion-label color="grass">#{{pokemon.id}}</ion-label>
        <br>
        <br>
        <ion-badge *ngFor='let type of pokemon.types' [color]="type.type.name">{{type.type.name}}</ion-badge>
              </ion-col>
          </ion-row>
      </ion-grid>
      </ion-card-header>
    </ion-card>

  </div>
</ion-content>
