<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">


    <ion-card class="card" color="bulbasaur">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
             </ion-col>
             <ion-col>
        <ion-card-title>Bulbasaur</ion-card-title>
        <ion-label color="grass">#001</ion-label>
        <br>
        <br>
        <ion-badge color="grass">Grass</ion-badge>
        <ion-badge color="poison">Poison</ion-badge>
              </ion-col>
          </ion-row>
      </ion-grid>
      </ion-card-header>
    </ion-card>

    <ion-card class="card" color="charmander">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
             </ion-col>
             <ion-col>
        <ion-card-title>Charmander</ion-card-title>
        <ion-label color="fire">#004</ion-label>
        <br>
        <br>
        <ion-badge color="fire">Fire</ion-badge>
              </ion-col>
          </ion-row>
      </ion-grid>
      </ion-card-header>
    </ion-card>

    <ion-card class="card" color="squirtle">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
             </ion-col>
             <ion-col>
        <ion-card-title>Squirtle</ion-card-title>
        <ion-label color="water">#007</ion-label>
        <br>
        <br>
        <ion-badge color="water">Water</ion-badge>
              </ion-col>
          </ion-row>
      </ion-grid>
      </ion-card-header>
    </ion-card>

    <ion-card class="card" color="pikachu">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
             </ion-col>
             <ion-col>
        <ion-card-title>Pikachu</ion-card-title>
        <ion-label color="electric">#025</ion-label>
        <br>
        <br>
        <ion-badge color="electric">Electric</ion-badge>
              </ion-col>
          </ion-row>
      </ion-grid>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
