<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">

    <ion-card class="card" color="bulbasaur" *ngFor="let pokemon of listaPokemon">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
             </ion-col>
             <ion-col>
        <ion-card-title>{{pokemon.name | titlecase}}</ion-card-title>
        <ion-label color="grass">#001</ion-label>
        <br>
        <br>
        <ion-badge color="grass">Grass</ion-badge>
        <ion-badge color="poison">Poison</ion-badge>
              </ion-col>
          </ion-row>
      </ion-grid>
      </ion-card-header>
    </ion-card>

  </div>
</ion-content>
